@{
/**
* ---------------------------------------------------------------------------
* File name: Index.cs
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Dante Hays, haysdc@etsu.edu
* Creation Date: Oct 27, 2022
* Last modified: Dante Hays haysdc@etsu.edu Nov 28, 2022
* ---------------------------------------------------------------------------
*/
}

@model string
<div class="text-center"><!--The main div for the Hunt page-->
    <h3> @Model </h3>
    <body>
            @{ Html.RenderPartial("_NavBar");}
            @{ Html.RenderPartial("_TaskList");}
        </body>

</div><!--End main div for the Hunt page-->
