@{
/**
* ---------------------------------------------------------------------------
* File name: Index.cs
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Dante Hays, haysdc@etsu.edu
* Creation Date: Oct 27, 2022
* Last modified: Dante Hays haysdc@etsu.edu Nov 02, 2022
* ---------------------------------------------------------------------------
*/
}

@{
    ViewData["Title"] = "Database results:";
}

<div class="text-center">
    <!--The main div for the home page-->
    <h2>@ViewData["Title"]</h2>

</div>
