@{
/**
* ---------------------------------------------------------------------------
* File name: Index.cs
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Dante Hays, haysdc@etsu.edu
* Creation Date: Oct 27, 2022
* Last modified: Janine Day dayjn1@etsu.edu Dec 5, 2022
* ---------------------------------------------------------------------------
*/
}

@model string
<div class="text-center"><!--The main div for the Hunt page-->
    <body>
            @{ Html.RenderPartial("_NavBar");}
    </body>
    <h3> Welcome @Model !</h3>
    @if ((string)TempData["Message"] == "Incorrect Answer")
    {
            <div class="text-danger">
                <strong>Incorrect Answer</strong>
            </div>
    }
    @if ((string)TempData["Message"] == "Correct!")
    {
            <div class="text-success">
                    <strong>Correct!</strong>
                </div>
    }
    <body>
            @{ Html.RenderPartial("_TaskList"); }
    </body>

</div><!--End main div for the Hunt page-->
