@{
/**
* ---------------------------------------------------------------------------
* File name: LeaderBoard.cs
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Daniel Dotson, dotsondr@etsu.edu
* Creation Date: November 15, 2022
* Last modified: Daniel Dotson, 11/15/22
* ---------------------------------------------------------------------------
*/
}

@{
    ViewData["Title"] = "LeaderBoard";
}
<div class="text-center">
    @{ Html.RenderPartial("_NavBar");}

    <h2>@ViewData["Title"]</h2>


    <table style="margin-left: auto; margin-right: auto;">
        <tr>

            <th>
                <b>Rank</b>
            </th>

            <th>
                <b>Player Name</b>
            </th>

            <th>
                <b>Score</b>
            </th>

            <th>
                <b>Time</b>
            </th>
        </tr>
        <tr>
            <td class="center">
                1
            </td>
            <td class="justify-content-center">
                William Kinser
            </td>
            <td>
                10/10
            </td>
            <td>
                1:05:30
            </td>
        </tr>

        <tr>
            <td class="center">
                1000
            </td>
            <td class="justify-content-center">
                Everyone Else
            </td>
            <td>
                0/10
            </td>
            <td>
                100:05:30
            </td>
        </tr>


    </table>




</div>


