@{
/**
* ---------------------------------------------------------------------------
* File name: LeaderBoard.cs
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Daniel Dotson, dotsondr@etsu.edu
* Creation Date: November 15, 2022
* Last modified: Daniel Dotson, 11/15/22
* ---------------------------------------------------------------------------
*/
}

@{
    ViewData["Title"] = "LeaderBoard";
}
<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    

    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            
            <th>
                <b>RANK</b>
            </th>

            <th>
                <b>Player Name</b>
            </th>

            <th>
                <b>Score</b>
            </th>

            <th>
                <b>Time</b>
            </th>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                William Kinser
            </td>
            <td>
                10/10
            </td>
            <td>
                1:05:30
            </td>
        </tr>


    </table>

    


</div>


