@{
/**
* ---------------------------------------------------------------------------
* File name: LeaderBoard.cs
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Daniel Dotson, dotsondr@etsu.edu
* Creation Date: November 15, 2022
* Last modified: Daniel Dotson, 11/15/22
* ---------------------------------------------------------------------------
*/
}

@{
    ViewData["Title"] = "LeaderBoard";
}
<div class="text-center">
    <h2>@ViewData["Title"]</h2>

    


</div>


