/**
* ---------------------------------------------------------------------------
* File name: site.css
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: East Tennessee State University
* Creation Date: Nov 01, 2022
* Last modified: Dante Hays haysdc@etsu.edu Nov 01, 2022
* ---------------------------------------------------------------------------
*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.nav-doodad {
    font-family: Norwester;
    font-size: 40px;
}

.nav-top-page {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

    .page-wrap:after {
        content: "";
        display: block;
    }

    .site-footer, .page-wrap:after {
        height: 142px;
    }

.site-footer {
    background: orange;
}
