@{
/**
* ---------------------------------------------------------------------------
* File name: Index.cs
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Dante Hays, haysdc@etsu.edu
* Creation Date: Oct 27, 2022
* Last modified: Dante Hays haysdc@etsu.edu Nov 02, 2022
* ---------------------------------------------------------------------------
*/
}

@{
    ViewData["Title"] = "BucHunt";
}

<div class="text-center"> <!--Main div for home page-->
    <h2>@ViewData["Title"]</h2>
    <br />
    <h3>Welcome to BucHunt!</h3>
    <br />
    <div
        <body>
            <input type="submit"
                   value="Join a Hunt"
                   onclick="location.href='@Url.Action("JoinHunt", "Home")'" />
            <input type="submit"
                   value="View QR Code"
                   onclick="location.href='@Url.Action("CreateQRCode", "QR")'" />
        </body>
    </div>
</div> <!--End main div for home page-->
