@{
    ViewData["Title"] = "Join A Hunt";
}
<h2>@ViewData["Title"]</h2>
<body>
    <h3>Enter an invitation code:</h3>
    <input type="text" id="inviteText" name="inviteText" />
    <input type="submit" name="inviteSubmit" value="Submit" class="btn btn-success" />
</body>