@{
/**
* ---------------------------------------------------------------------------
* File name: JoinHunt.cs
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Dante Hays, haysdc@etsu.edu
* Creation Date: Oct 27, 2022
* Last modified: Dante Hays haysdc@etsu.edu Nov 28, 2022
* ---------------------------------------------------------------------------
*/

@model User 
   
}

@{
    ViewData["Title"] = "Join A Hunt";
}

<div class="text-center"> <!--Main div for JoinHunt page-->
    <h2>@ViewData["Title"]</h2>
    @if (TempData["Message"] != null)
    {
        <div class="text-danger">
            <strong>@TempData["Message"]</strong>
        </div>
    }
    @using (Html.BeginForm("Index", "Hunt", FormMethod.Post))
    {
        <h3>Enter an invitation code:</h3>
        @Html.EditorFor(user => user.AccessCode, new { @class = "form-control" })
       
        <br />
        <input type="submit" value="Join" />
    }
</div> <!--End main div for JoinHunt page-->


