@{
/**
* ---------------------------------------------------------------------------
* File name: _Layout.cshtml
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Dante Hays, haysdc@etsu.edu
* Creation Date: Oct 27, 2022
* Last modified: Dante Hays haysdc@etsu.edu Nov 02, 2022
* ---------------------------------------------------------------------------
*/
/*READ ME: This view contains elements that are shared between multiple views*/
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Team_3_BucHunt_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Team_3_BucHunt_WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ETSUStyle.css" />
    <link rel="stylesheet" href="~/css/ETSU.css" />
</head>
<body>
    <header>
    </header>
    <br />
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=".site-footer">
        &copy; 2022 - 404 Industries
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

