@{
/**
* ---------------------------------------------------------------------------
* File name: _NavBar.cshtml
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Dante Hays, haysdc@etsu.edu
* Creation Date: Nov 20, 2022
* Last modified: Dante Hays haysdc@etsu.edu Nov 28, 2022
* ---------------------------------------------------------------------------
*/
}
<!DOCTYPE html>
<html lang="en">
<head> <!--Style sheets and imports-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Team_3_BucHunt_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Team_3_BucHunt_WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ETSUStyle.css" />
    <link rel="stylesheet" href="~/css/ETSU.css" />
</head>
<nav>
    <div class="nav-top-page"><!--This is the main element-->
        <a asp-area="" class="nav-doodad" asp-controller="Home" asp-action="Index">404 Industries</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="menu list--inline text--norwester"
                <li class="nav-item"><!--These are the items in the navbar-->
                    <a asp-area="" asp-controller="Hunt" asp-action="Index">Task List</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Hunt" asp-action="Leaderboard">Leaderboard</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@*<div id="nav__primary" class="clearfix" role="navigation">
                <h2>
                 404 Industries
                </h2>
                <ul class="menu list--inline text--norwester">
                    <li>
                        <a href="//webmail.etsu.edu" title="(ETSU)">Email</a>
                    </li>
                    <li>
                        <a href="//elearn.etsu.edu/" title="Desire to Learn (D2L) at ETSU. View your courses, explore tools &amp; features, and customize your eLearning experience.">D2L</a>
                    </li>
                    <li>
                        <a href="/helpdesk" title="ETSU Help Desk">HelpDesk</a>
                    </li>
                    <li>
                        <a href="//www.etsu.edu/ehome/atoz/" title="A to Z listing of everything at East Tennessee State University (ETSU)">A – Z</a>
                    </li>
                    <li>
                        <a href="http://www.etsubucs.com" title="College Athletics &amp; Athletes at East Tennessee State University (ETSU)">Athletics</a>
                    </li>
                    <li>
                        <a title="Safety at East Tennessee State University (ETSU)" href="//www.etsu.edu/safety/">Safety</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>*@
