@{
/**
* ---------------------------------------------------------------------------
* File name: _TaskList.cshtml
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Dante Hays, haysdc@etsu.edu
* Creation Date: Nov 20, 2022
* Last modified: Dante Hays haysdc@etsu.edu Nov 28, 2022
* ---------------------------------------------------------------------------
*/
}
@using System;
@using System.Collections.Generic;
@using System.Data.SqlClient;
@using Team_3_BucHunt_WebApp.Models;


<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="ETSUStyle.css">
    <link rel="stylesheet" href="ETSU.css">
    <link rel="stylesheet" href="TaskListStyle.css">
</head>

<!--Animated Header-->
<img id="headerBkgd__goldWaves" alt="animated background" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' role='presentation' viewBox='0 0 1625 148' preserveAspectRatio='xMidYMid meet'%3E%3Cg%3E%3ClinearGradient id='a' x1='0' x2='1' y1='0' y2='0'%3E%3Cstop offset='0' stop-color='%23ffc72c'/%3E%3Cstop offset='1' stop-color='%23f8e08e'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' opacity='.75'%3E%3Canimate attributeName='d' begin='0s' dur='7s' keySplines='0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1' keyTimes='0;0.333;0.667;1' repeatCount='indefinite' values='M0 0L 0 75.64819513889528Q 406.25 112.4168301155578 812.5 73.66658752010889T 1625 72.77768801794221L 1625 0 Z;M0 0L 0 70.27066641233544Q 406.25 105.11582540079095 812.5 66.23443937804959T 1625 74.91215786181142L 1625 0 Z;M0 0L 0 63.748043101733735Q 406.25 117.1537416424263 812.5 80.69702895565626T 1625 60.219627055844796L 1625 0 Z;M0 0L 0 75.64819513889528Q 406.25 112.4168301155578 812.5 73.66658752010889T 1625 72.77768801794221L 1625 0 Z'/%3E%3C/path%3E%3Cpath fill='url(%23a)' opacity='.8'%3E%3Canimate attributeName='d' begin='-20s' dur='6s' keySplines='0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1' keyTimes='0;0.333;0.667;1' repeatCount='indefinite' values='M0 0L 0 64.14621468674747Q 406.25 56.207820429190846 812.5 34.96182246125404T 1625 52.53020499967622L 1625 0 Z;M0 0L 0 67.1532400402574Q 406.25 74.68355025125305 812.5 30.6855377443568T 1625 31.500109538925187L 1625 0 Z;M0 0L 0 52.92223358265816Q 406.25 47.887234229968485 812.5 31.950744746854582T 1625 72.90677060884364L 1625 0 Z;M0 0L 0 64.14621468674747Q 406.25 56.207820429190846 812.5 34.96182246125404T 1625 52.53020499967622L 1625 0 Z'/%3E%3C/path%3E%3Cpath fill='url(%23a)' opacity='.7'%3E%3Canimate attributeName='d' begin='-40s' dur='5s' keySplines='0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1' keyTimes='0;0.333;0.667;1' repeatCount='indefinite' values='M0 0L 0 65.67594544511607Q 406.25 55.136280101214574 812.5 34.244613453375926T 1625 76.88852346663303L 1625 0 Z;M0 0L 0 36.205868457249565Q 406.25 109.10029884977885 812.5 75.23689473952035T 1625 40.939486599068914L 1625 0 Z;M0 0L 0 83.96905969987165Q 406.25 71.54130422296316 812.5 37.80081597814579T 1625 46.70639226669843L 1625 0 Z;M0 0L 0 65.67594544511607Q 406.25 55.136280101214574 812.5 34.244613453375926T 1625 76.88852346663303L 1625 0 Z'/%3E%3C/path%3E%3Cpath fill='url(%23a)' opacity='.6'%3E%3Canimate attributeName='d' begin='-60s' dur='4s' keySplines='0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1' keyTimes='0;0.333;0.667;1' repeatCount='indefinite' values='M0 0L 0 39.70631624579822Q 406.25 76.63022169313423 812.5 39.64373511656079T 1625 64.53511534105488L 1625 0 Z;M0 0L 0 32.4243712209352Q 406.25 77.20758117862968 812.5 39.59101754332273T 1625 88.09461280663866L 1625 0 Z;M0 0L 0 49.85226194243634Q 406.25 76.60046870236488 812.5 42.8220136050438T 1625 47.73269398373101L 1625 0 Z;M0 0L 0 39.70631624579822Q 406.25 76.63022169313423 812.5 39.64373511656079T 1625 64.53511534105488L 1625 0 Z'/%3E%3C/path%3E%3Cpath fill='url(%23a)' opacity='.5'%3E%3Canimate attributeName='d' begin='-80s' dur='3s' keySplines='0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1' keyTimes='0;0.333;0.667;1' repeatCount='indefinite' values='M0 0L 0 62.36137105881773Q 406.25 106.11818215691501 812.5 79.19644513096927T 1625 53.29880813222182L 1625 0 Z;M0 0L 0 85.67176174202038Q 406.25 107.65916943204796 812.5 75.74025877464994T 1625 42.750701426721356L 1625 0 Z;M0 0L 0 69.32186058368944Q 406.25 97.57562704392123 812.5 72.27821516297467T 1625 83.08049900770148L 1625 0 Z;M0 0L 0 62.36137105881773Q 406.25 106.11818215691501 812.5 79.19644513096927T 1625 53.29880813222182L 1625 0 Z'/%3E%3C/path%3E%3Cpath fill='url(%23a)' opacity='.4'%3E%3Canimate attributeName='d' begin='-90s' dur='4s' keySplines='0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1' keyTimes='0;0.333;0.667;1' repeatCount='indefinite' values='M0 0L 0 41.8842198873533Q 406.25 118.50977001725153 812.5 75.24644840787474T 1625 71.04846573664972L 1625 0 Z;M0 0L 0 88.55896780828176Q 406.25 48.10309737637557 812.5 30.623317141617896T 1625 88.40715542065973L 1625 0 Z;M0 0L 0 36.976425380985Q 406.25 82.25272458543867 812.5 42.75571863451296T 1625 82.89668078767245L 1625 0 Z;M0 0L 0 41.8842198873533Q 406.25 118.50977001725153 812.5 75.24644840787474T 1625 71.04846573664972L 1625 0 Z'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E">

<body>
    <h1 id="buchunt" ">
        BucHunt
    </h1>

    <!-- ETSU Campus Map PDF-->
    <a id="map" href="https://www.etsu.edu/ehome/documents/etsu-campusmap.pdf">Download the Campus Map Here</a>

    <td>@(ViewBag.taskList as List<Team_3_BucHunt_WebApp.Models.Task>)</td>

    @{int i = 0;}

    @foreach (var task in ViewBag.taskList)
    {<!-- loop and assign each task and location to generate the list-->
        if (task.LocationId == ViewBag.locations[i].LocationId)
        {
            string locationName = ViewBag.locations[i].Name;

            <dt><a style="font-family:Norwester" id=@Html.Raw(task.TaskId) href="">@locationName</a></dt>
            <dd style="font-family:Norwester" href="">@Html.Raw(task.Question)</dd>
            <br>
        }
        i++;
    }
    <dl>  

    <!-- Imbedded Google Maps -->
    <iframe id="etsumap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3215.403464666238!2d-82.37177829647909!3d36.30252170601584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885a7cc05d9f13fd%3A0xad7abbcc12be09f1!2sEast%20Tennessee%20State%20University!5e0!3m2!1sen!2sus!4v1668521505619!5m2!1sen!2sus" width="750" height="475" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</body>

</html>