<!--This aint workin rn-->

<div class="text-center">
    <!--Main div for home page-->
    <h2>Test Form</h2>
    <br />
    <h3>Question:</h3>
    <br />
    <div
        <body>
            <input type="submit"
                   value="Submit Answer"
                   onclick="location.href='@Url.Action("JoinHunt", "Home")'" />
        </body>
    </div>
</div> <!--End main div for home page-->
