@{
/**
* ---------------------------------------------------------------------------
* File name: _TaskAnswerForm.cshtml
* Project name: 404 Industries BucHunt
* ---------------------------------------------------------------------------
* Author’s name and email: Dante Hays, haysdc@etsu.edu
* Creation Date: Nov 20, 2022
* Last modified: Dante Hays haysdc@etsu.edu Nov 28, 2022
* ---------------------------------------------------------------------------
*/
}

@model Team_3_BucHunt_WebApp.Models.Task
<div class="text-center">
    <!--Main div for home page-->
    <br />
    <div>
        @using (Html.BeginForm("CheckAnswer", "Hunt", FormMethod.Post))
        {
            <h3>@Model.Question:</h3>
            @Html.EditorFor(task => task.Answer, new { @class = "form-control" })
            @Html.HiddenFor(task => task.TaskId, new { Value = Model.TaskId })

            <br />
            <input type="submit" value="Submit Answer" />
        }
    </div>
</div> <!--End main div for home page-->
