<!--This aint workin rn-->
@model Team_3_BucHunt_WebApp.Models.Task
<div class="text-center">
    <!--Main div for home page-->
    <dd> @Model.Question </dd>
    <br />
    <div>
        <body>
            <input type="submit"
                   value="Submit Answer"
                   onclick="location.href='@Url.Action("JoinHunt", "Home")'" />
        </body>
    </div>
</div> <!--End main div for home page-->
